* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans Mono', monospace;
    box-sizing: border-box;
}

:root {
    --cor-fundo: #fff;
    --cor-titulos: #391B4D;
    --cor-titulos2: #FF5112;
    --cor-subtitulos: #555;
    --cor-textos: #181818;
    --cor-botoes: #FF5112;

    /*LIGHT MODE*/
    --cor-light: #fff;
    --cor-light-text: #292c35;

    /*DARK MODE*/
    --cor-dark: #2e2e2e;    
    --cor-dark-text: #e9e9e9;


    --font-titulo: 1.4em;
    --font-subtitulo: 1.0em;
    --font-text: 0.8em;
    --font-txt: 1rem;

    --animate-duration: 800ms;
    --animate-delay: 0.9s;
}




body {
    background-color: var(--cor-light);
    height: 100vh;
    margin: 0;
    transform: 0.2s linear;
}

html {
    --background: var(--cor-light) ;
    --text: var(--cor-light-text);
}

.container {
    display: flex;
    width: 100%;
    height: 120px;
    background-color: var(--cor-fundo);
    margin: auto;
}

.subcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    margin: auto;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: flex;
    padding: 30px;
    text-decoration: none;
    font-weight: 600;
    color: var(--cor-titulos);
    cursor: pointer;
}

nav ul li:hover {
    color: var(--cor-botoes);
}

.container-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 800px;
    height: 320px;
    margin: auto;
}

.container-main-title-text {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 70px;
}

.container-main-text {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 250px;
}

.container-main-title-text h1 {
    padding: 30px;
}

.container-main-text h2 {
    margin-left: 30px;
    margin-top: 30px;
    font-size: var(--font-titulo);
    height: 30px;
    color: var(--cor-titulos2);

}

.container-main-text p {
    text-indent: 70px;
    margin-left: 30px;
    margin-top: 30px;
    padding-right: 30px;
    font-size: var(--font-txt);
    text-align: justify;
}

.container-main-img {
    display: flex;
    justify-content: center;
    width: 800px;
    margin: auto;
    margin-top: 30px;
    padding: 30px;
}

.darkModeToggle {
    position: absolute;
    opacity: 0;
}

.label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 50px;
    height: 26px;
    background-color: var(--cor-dark);
    border-radius: 50px;
    transform: scale(1.2);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.ball {
    width: 26px;
    height: 26px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 50%;
    transition: 0.25s linear;
}

.darkModeToggle:checked + .label .ball {
    transform: translateX(24px);
}

.margin-auto {
    margin: auto;
    width: 800px;
}

#section-1 {
    animation-delay: 0s;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

#section-2 {
    animation-delay: 2s;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.text-shadow {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.bi-moon {
    color: rgb(206, 206, 206);
    margin-left: 5px;
}

.bi-sun {
    color: rgb(243, 213, 42);
    margin-right: 5px;
}

.containers-cards {
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

.bg-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    margin: auto;
}

.social-icons {
    margin: 10px;
}

.footer-shadow-content {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}


/**/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    body {
    
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
      
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
       
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    body {
        
    }
}